{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.firstName }} !{% endblock %}

{% block body %}
    <p> Hello {{ app.user.firstName }} !</p>
    
    {{ app.user.lastName }} {{ app.user.firstName }} - ({{ app.user.email }})
{% endblock %}
