{% extends 'base.html.twig' %}

{% block title %}Magazines !{% endblock %}

{% block javascripts %}
    {# Récupère le contenu de block "javascripts" de la base.html.twig pour éviter que son contenu ne soit écrasé par celui-ci #}
    {{ parent() }}
    <script src="{{ asset('js/deleteMagazine.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-between pb-5">
        <div>
            <h1 class="container pb-4">Listes des Magazines</h1>
        </div>
        <a class="btn btn-outline-primary" href="{{ path('new_magazine') }}">Ajouter</a>
    </div>    

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <form method="GET"> {# ?numbers=3 #}
        <label for="numbers">Nombre de magazine par page</label>
        <input type="hidden" name="page" value="{{ app.request.query.get('page', 1) }}">
        <select name="numbers" id="numbers" onchange="this.form.submit();">
            <option value="5">Choisissez une option</option>
            <option value="5">5 par page</option>
            <option value="3">3 par page</option>
            <option value="1">1 par page</option>
        </select>
    </form>

    <table class="table container">
        <thead>
           <tr>
                <th>Titre du magazine</th>
                <th colspan="4">Actions</th>
            </tr> 
        </thead>
        <tbody>

            {% for magazine in magazines %}
                <tr>
                    <td class="py-3">
                        {# Si l'image existe, on l'affiche en appliquant un filtre #}
                        {% if vich_uploader_asset(magazine, 'coverFile') is not null %}
                            <img src="{{ vich_uploader_asset(magazine, 'coverFile')|imagine_filter('thumb') }}" alt="{{ magazine.name }}">
                        {% endif %}
                    </td>
                    <td class="py-3">{{ magazine.name }}</td>    
                    <td class="py-3">
                        <a href="{{ path('details_magazine', { id: magazine.id }) }}" class="btn btn-outline-warning btn-sm">
                            Voir plus de détails...
                        </a>
                    </td>
                    <td>    
                        <a href="{{ path('edit_magazine', {id: magazine.id }) }}" class="btn btn-sm btn-outline-secondary">Editer</a>
                    </td>
                    <td>
                        <form action="{{ path('delete_magazine', { id: magazine.id }) }}" method="post">                          
                            <input type="hidden" name="token" value="{{ csrf_token('delete-magazine-'~ magazine.id) }}">
                            <button class="btn btn-sm btn-outline-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}

        </tbody>        
    </table>    

    {# Affiche la numérotations des pages #}
    {{ knp_pagination_render(magazines) }}


    {# Modal Bootstrap de confirmation de suppression #}
    <div class="modal fade" id="confirmDelete" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation de suppression</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer cet article ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Non</button>
                    <form action="" method="post" class="d-inline btn-delete-modal">
                        <input type="hidden" name="token" class="input-token-csrf" value="">
                        <button class="btn btn-danger">Oui, je supprime</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
