{% extends 'base.html.twig' %}

{% block title %}Magazines !{% endblock %}

{% block body %}
    <h1 class="container pb-4">Listes des Magazines</h1>

    <a class="btn btn-outline-primary" href="{{ path('new_magazine') }}">Ajouter</a>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table container">
        <thead>
           <tr>
                <th>Titre du magazine</th>
                <th colspan="3">Actions</th>
            </tr> 
        </thead>
        <tbody>

            {% for magazine in magazines %}
                <tr>
                    <td class="py-3">{{ magazine.name }}</td>    
                    <td class="py-3">
                        <a href="{{ path('details_magazine', { id: magazine.id }) }}" class="btn btn-outline-warning btn-sm">
                            Voir plus de détails...
                        </a>
                    </td>
                    <td>    
                        <a href="" class="btn btn-sm btn-outline-secondary">Editer</a>
                    </td>
                    <td>
                        <form action="{{ path('delete_magazine', { id: magazine.id }) }}" method="post">                          
                            <input type="hidden" name="token" value="{{ csrf_token('delete-magazine-'~ magazine.id) }}">
                            <button class="btn btn-sm btn-outline-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}

        </tbody>        
    </table>    

{% endblock %}
