{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block javascripts %}
    {# Récupère le contenu de block #}
    {{ parent() }}
    <script src="{{ asset('js/changeRole.js' ) }}" defer></script>
{% endblock %}

{% block body %}

     <div class="d-flex align-items-center justify-content-between pb-5">
        <div>
            <h1 class="display-5 m-0">Account</h1>
            <p class="lead">Listes des Utilisateurs</p>
        </div>
    </div>    

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <form method="GET"> {# ?numbers=3 #}
        <label for="numbers">Nombre d'utilisateur par page</label>
        <input type="hidden" name="page" value="{{ app.request.query.get('page', 1) }}">
        <select name="numbers" id="numbers" onchange="this.form.submit();">
            <option value="6">Choisissez une option</option>
            <option value="6">6 par page</option>
            <option value="3">3 par page</option>
            <option value="1">1 par page</option>
        </select>
    </form>

    <table class="table container">
        <thead>
           <tr>
                <th>Id</th>
                <th>Nom et prénom</th>
                <th>Email</th>
                <th>Role</th>
                <th colspan="3">Actions</th>
            </tr> 
        </thead>
        <tbody>

            {% for user in users %}
                <tr>                    
                    <td class="py-3">{{ user.id }}</td>    
                    <td class="py-3">{{ user.userIdentifier }}</td> 
                    <td class="py-3">{{ user.email }}</td>
                    <td class="py-3" id="roles_{{ user.id }}">
                        {{ user.roles|first }}
                    </td>
                    
                    <td class="py-3">
                        <div class="btn-group">
                            <button data-id="{{ user.id }}" data-role="ROLE_ADMIN" class="btn btn-sm btn-danger">Administrator</button>
                            <button data-id="{{ user.id }}" data-role="ROLE_MODERATOR" class="btn btn-sm btn-warning">Moderator</button>
                            <button data-id="{{ user.id }}" data-role="ROLE_USER" class="btn btn-sm btn-secondary">Utilisateur</button>
                        </div>
                    </td>                             
                </tr>
            {% endfor %}

        </tbody>        
    </table>    

    {# Affiche la numérotations des pages #}
    {{ knp_pagination_render(users) }}


    {# Modal Bootstrap de confirmation de suppression #}
    <div class="modal fade" id="confirmDelete" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation de suppression</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer cet article ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Non</button>
                    <form action="" method="post" class="d-inline btn-delete-modal">
                        <input type="hidden" name="token" class="input-token-csrf" value="">
                        <button class="btn btn-danger">Oui, je supprime</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
        
    </div>
{% endblock %}
